In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.cluster import KMeans
import pickle as pickle
import streamlit as st
import os
from datetime import datetime
import squarify as squarify
import base64
import csv
import re
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [15]:
df = pd.read_csv("data/segmentasicustomerwsh.csv")
df = pd.DataFrame(df)
pd.DataFrame(df)

,id_transaksi,id_customer,tanggal_transaksi,jumlah_transaksi,total_transaksi,item_transaksi
0,T001,WSH001,1/7/2023,7,61500,C(3); KK(2); SL(2)
1,T002,WSH002,1/7/2023,13,116500,BM(2); BT(1); C(2); R(2); S(1); SB(2); SL(3)
2,T003,WSH003,1/7/2023,21,183000,BB(3); BH(3); BM(3); BT(3); KL(3); KU(3); MA(3)
3,T004,WSH004,1/7/2023,5,42500,C(5)
4,T005,WSH002,1/7/2023,6,50000,KK(2); KM(2); KU(2)
...,...,...,...,...,...,...
585,T586,WSH002,8/11/2023,8,74500,BB(2); C(1); KU(2); O(1); S(1); T(1)
586,T587,WSH008,8/11/2023,3,22500,BT(2); KL(1)
587,T588,WSH018,8/11/2023,9,82000,DK(4); KM(1); MP(2); PP(1); T(1)
588,T589,WSH019,8/11/2023,8,66500,BB(1); BT(2); KK(2); O(1); SB(1); T(1)
589,T590,WSH010,9/11/2023,6,54000,DK(2); KK(2); MA(1); P(1)

In [16]:
df['id_customer'] = df['id_customer'].str.strip().str.lower()
pd.DataFrame(df)

,id_transaksi,id_customer,tanggal_transaksi,jumlah_transaksi,total_transaksi,item_transaksi
0,T001,wsh001,1/7/2023,7,61500,C(3); KK(2); SL(2)
1,T002,wsh002,1/7/2023,13,116500,BM(2); BT(1); C(2); R(2); S(1); SB(2); SL(3)
2,T003,wsh003,1/7/2023,21,183000,BB(3); BH(3); BM(3); BT(3); KL(3); KU(3); MA(3)
3,T004,wsh004,1/7/2023,5,42500,C(5)
4,T005,wsh002,1/7/2023,6,50000,KK(2); KM(2); KU(2)
...,...,...,...,...,...,...
585,T586,wsh002,8/11/2023,8,74500,BB(2); C(1); KU(2); O(1); S(1); T(1)
586,T587,wsh008,8/11/2023,3,22500,BT(2); KL(1)
587,T588,wsh018,8/11/2023,9,82000,DK(4); KM(1); MP(2); PP(1); T(1)
588,T589,wsh019,8/11/2023,8,66500,BB(1); BT(2); KK(2); O(1); SB(1); T(1)
589,T590,wsh010,9/11/2023,6,54000,DK(2); KK(2); MA(1); P(1)

In [17]:
print("Jumlah data yang memiliki missing null")
df.isnull().sum()
(df == 'NA').sum()

Jumlah data yang memiliki missing null

id_transaksi         0
id_customer          0
tanggal_transaksi    0
jumlah_transaksi     0
total_transaksi      0
item_transaksi       0
dtype: int64

In [18]:
print("Duplicate Data")
df.duplicated().sum()

Duplicate Data

0

In [19]:
df.replace('NA', pd.NA, inplace=True)
df.dropna(inplace=True)

In [20]:
#menghapus duplicate row
df.drop_duplicates(inplace=True)

In [21]:
print('Data Unik Tiap Row')
df.nunique()

Data Unik Tiap Row

id_transaksi         590
id_customer           38
tanggal_transaksi    131
jumlah_transaksi      18
total_transaksi      150
item_transaksi       348
dtype: int64

In [22]:
df['item_transaksi']=df['item_transaksi'].str.replace(';','')

In [23]:
df.reset_index(drop=True, inplace=True)
df['item_transaksi'] = df['item_transaksi'].apply(lambda x: [re.sub(r'\(\d+\)', ',', item).strip().rstrip(',') for item in x.split(',') ])

In [24]:
df

,id_transaksi,id_customer,tanggal_transaksi,jumlah_transaksi,total_transaksi,item_transaksi
0,T001,wsh001,1/7/2023,7,61500,"[C, KK, SL]"
1,T002,wsh002,1/7/2023,13,116500,"[BM, BT, C, R, S, SB, SL]"
2,T003,wsh003,1/7/2023,21,183000,"[BB, BH, BM, BT, KL, KU, MA]"
3,T004,wsh004,1/7/2023,5,42500,[C]
4,T005,wsh002,1/7/2023,6,50000,"[KK, KM, KU]"
...,...,...,...,...,...,...
585,T586,wsh002,8/11/2023,8,74500,"[BB, C, KU, O, S, T]"
586,T587,wsh008,8/11/2023,3,22500,"[BT, KL]"
587,T588,wsh018,8/11/2023,9,82000,"[DK, KM, MP, PP, T]"
588,T589,wsh019,8/11/2023,8,66500,"[BB, BT, KK, O, SB, T]"
589,T590,wsh010,9/11/2023,6,54000,"[DK, KK, MA, P]"

In [25]:
data = df.copy()
data = data.explode('item_transaksi')
data['item_transaksi'] = data['item_transaksi'].apply(lambda x: x.strip('()').split(', ') if isinstance(x, str) else x)
item_list = data['item_transaksi'].tolist()
item_list

[['C', 'KK', 'SL'],
 ['BM', 'BT', 'C', 'R', 'S', 'SB', 'SL'],
 ['BB', 'BH', 'BM', 'BT', 'KL', 'KU', 'MA'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['P', 'PP', 'S'],
 ['MA', 'MP', 'O', 'PG'],
 ['BB', 'BH', 'BM', 'C'],
 ['SB', 'SL'],
 ['BB', 'BM', 'KL', 'KK'],
 ['KK', 'KM', 'S'],
 ['C', 'KM'],
 ['SB', 'SL'],
 ['BH', 'BM'],
 ['BB', 'BH', 'BM', 'P', 'SB'],
 ['KL', 'KK', 'SB'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['SL', 'SM'],
 ['BH', 'BM', 'P', 'SB'],
 ['KL'],
 ['KU', 'SM'],
 ['O'],
 ['BB', 'BH', 'BM', 'P'],
 ['MA', 'MP', 'O'],
 ['KM'],
 ['P', 'PP'],
 ['BH', 'P', 'SB'],
 ['MA', 'PG'],
 ['BH', 'KL', 'KK'],
 ['BH', 'BM'],
 ['SB', 'SL', 'SM'],
 ['BH', 'PG'],
 ['S', 'SB', 'SL', 'SM'],
 ['KK', 'P'],
 ['P', 'PP'],
 ['MA', 'MP', 'O', 'PG'],
 ['MA', 'O'],
 ['BH', 'BM', 'SD'],
 ['KM', 'MA', 'MP', 'O'],
 ['BH', 'KK', 'P', 'SB'],
 ['P', 'SB'],
 ['BH', 'KK'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BT', 'DK', 'KM', 'MA', 'PG', 'R'],
 ['KK'],
 ['KM', 'KU', 'MA', 'MP'],
 ['BB', 'BH', 'SM', 'SD'],
 ['KM', 'O', 'PG'],
 ['PG'],
 ['BH', 'PG'],
 ['KM', 'KU'],
 ['KK', 'R'],
 ['BT', 'KM', 'KU'],
 ['BH', 'P', 'SB'],
 ['S', 'SB', 'SD'],
 ['KK', 'P'],
 ['BH', 'P', 'SD'],
 ['KM', 'MA'],
 ['C'],
 ['BH', 'BM', 'PG', 'SL', 'SM'],
 ['BT', 'MP', 'O', 'R', 'SD'],
 ['MA', 'SD'],
 ['P', 'PP'],
 ['F'],
 ['F', 'KU', 'P', 'PP'],
 ['BH', 'F', 'P'],
 ['BH', 'KM', 'PP'],
 ['BM', 'DK', 'SM'],
 ['C', 'SD'],
 ['MA', 'MP'],
 ['BH', 'F'],
 ['KU', 'P', 'PP', 'SD'],
 ['BM', 'KL', 'PG', 'PP'],
 ['F', 'MA'],
 ['SL'],
 ['BB', 'C', 'MP', 'SB', 'SL'],
 ['S', 'SB'],
 ['BH', 'SB'],
 ['PG', 'P', 'PP'],
 ['BH', 'SD'],
 ['BB', 'BH', 'BM'],
 ['KL'],
 ['BH', 'KL'],
 ['KL', 'S', 'SD'],
 ['MA', 'MP', 'R'],
 ['BB', 'KL'],
 ['BH', 'P'],
 ['P', 'PP'],
 ['BB', 'BM', 'KL', 'KK'],
 ['KK', 'KM', 'S'],
 ['C', 'KM'],
 ['SB', 'SL'],
 ['BH', 'BM'],
 ['BB', 'BH', 'BM', 'SB'],
 ['KL', 'KK', 'SB'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['SL', 'SM'],
 ['BH', 'BM', 'SB'],
 ['KL'],
 ['KU', 'SM'],
 ['O'],
 ['BB', 'BH', 'BM'],
 ['MA', 'MP', 'O'],
 ['KM'],
 ['DK', 'KU', 'O', 'P', 'PP'],
 ['BH', 'P', 'SB'],
 ['KK', 'KU', 'R'],
 ['BT', 'KM', 'KU'],
 ['BH', 'P', 'SB'],
 ['S', 'SB', 'SD'],
 ['KK', 'P'],
 ['BH', 'P', 'SD'],
 ['KM', 'MA'],
 ['SB', 'SL'],
 ['BH', 'BM'],
 ['BB', 'BH', 'BM', 'SB'],
 ['KU', 'SM'],
 ['O'],
 ['BB', 'BH', 'BM'],
 ['MA', 'MP', 'O'],
 ['KM'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BT', 'DK', 'KM', 'MA', 'R'],
 ['KK'],
 ['KM', 'KU', 'MA', 'MP'],
 ['BB', 'BH', 'SM', 'SD'],
 ['KM', 'O', 'PG'],
 ['PG'],
 ['BH', 'PG'],
 ['KM', 'KU'],
 ['KK', 'R'],
 ['BT', 'KM', 'KU'],
 ['C', 'KK', 'SL'],
 ['BM', 'BT', 'C', 'R', 'S', 'SB', 'SL'],
 ['BB', 'BH', 'BM', 'BT', 'KL', 'KU', 'MA'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['P', 'PP', 'S'],
 ['MA', 'MP', 'O', 'PG'],
 ['MA', 'MP', 'O'],
 ['KM'],
 ['P', 'PP'],
 ['BH', 'P', 'SB'],
 ['KK', 'R'],
 ['BT', 'KM', 'KU'],
 ['BH', 'P', 'SB'],
 ['P', 'SB'],
 ['BH', 'KK'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BT', 'DK', 'KM', 'MA', 'R'],
 ['F', 'KL', 'KK', 'SD'],
 ['BH', 'BM', 'BT', 'C', 'DK', 'KM'],
 ['BB', 'C', 'F', 'KL', 'MP', 'PG', 'P', 'T'],
 ['BB', 'BH', 'C', 'F', 'KM', 'KU', 'S'],
 ['SL', 'SM', 'T'],
 ['BT', 'C', 'S'],
 ['BM', 'C', 'KL', 'PP', 'S', 'SL', 'SD'],
 ['BB', 'O', 'PP'],
 ['KL', 'KK', 'PG'],
 ['KK'],
 ['BH', 'DK', 'P', 'SB'],
 ['O', 'PG'],
 ['BH', 'C', 'O', 'PP'],
 ['BT', 'KL', 'KU', 'PP'],
 ['BB', 'DK', 'KM', 'MA'],
 ['KU', 'MA', 'MP'],
 ['SB'],
 ['F', 'KU', 'O', 'T'],
 ['BB', 'BH', 'MA', 'PG'],
 ['BB', 'DK', 'MA'],
 ['BB', 'BH', 'BM', 'MP'],
 ['KU', 'MA', 'PP'],
 ['MA', 'MP', 'O'],
 ['BH', 'C'],
 ['BB', 'DK', 'O'],
 ['BT', 'C', 'S', 'SM'],
 ['BB', 'BH', 'PP'],
 ['KK', 'MP', 'O'],
 ['MP', 'O', 'P'],
 ['KK'],
 ['BT', 'MP'],
 ['BT'],
 ['BB', 'C', 'MP'],
 ['P'],
 ['O', 'S'],
 ['BB', 'PP', 'S', 'SL'],
 ['BT', 'DK', 'MP'],
 ['BT', 'MA', 'MP'],
 ['BB', 'BH', 'MA'],
 ['F', 'KK', 'O', 'R'],
 ['BB', 'BT'],
 ['F', 'KL', 'KM'],
 ['BH', 'BM', 'KU', 'PG'],
 ['C', 'F', 'MA', 'PP'],
 ['BB', 'BH'],
 ['C', 'KK'],
 ['DK', 'PG', 'PP', 'SB'],
 ['BB', 'DK', 'KL', 'P'],
 ['KM', 'KU'],
 ['F', 'KU', 'MA', 'O'],
 ['BH', 'BM', 'KU', 'PG'],
 ['BB', 'O', 'T'],
 ['KL', 'MA', 'PG', 'R'],
 ['BM', 'F', 'KM', 'PG'],
 ['C', 'KL'],
 ['BB', 'BT', 'MP'],
 ['BB', 'BH', 'BM', 'PG', 'R'],
 ['O'],
 ['C', 'KL', 'KU', 'O', 'R'],
 ['DK', 'KK', 'PG'],
 ['BB'],
 ['KK'],
 ['KU', 'MA', 'MP'],
 ['BM', 'DK', 'F', 'KL'],
 ['BB', 'BH', 'KM', 'T'],
 ['BB', 'BH', 'PP', 'SM'],
 ['BB', 'SM'],
 ['MA', 'SM'],
 ['BM', 'F', 'KL'],
 ['C', 'KK', 'R', 'SM'],
 ['BB', 'BH'],
 ['BT', 'C', 'DK'],
 ['KK', 'KU'],
 ['C', 'KL'],
 ['F', 'MP', 'P', 'SB'],
 ['BH'],
 ['BM', 'C', 'DK'],
 ['KK', 'KM'],
 ['KL', 'MP', 'PP', 'SD'],
 ['BB', 'BH', 'BM', 'P', 'R'],
 ['BB', 'BT', 'C', 'MP'],
 ['DK', 'KK', 'MA', 'SL'],
 ['BB', 'S', 'SB'],
 ['KM', 'PG', 'SM', 'SD'],
 ['BH', 'F', 'KL'],
 ['BT', 'F', 'MP', 'S'],
 ['BB', 'BM', 'KU', 'P'],
 ['BB', 'BH', 'DK', 'MA', 'O', 'T'],
 ['KL', 'KM', 'KU', 'PG'],
 ['BT', 'MP', 'SB'],
 ['BB', 'BH', 'KK', 'R', 'SL'],
 ['BT', 'C', 'KL', 'KU'],
 ['BH', 'KK', 'MA', 'T'],
 ['BB', 'C', 'KM', 'S', 'SD'],
 ['C', 'F', 'KK', 'P', 'PP', 'SD', 'T'],
 ['BH', 'BM', 'KL', 'KU', 'PP', 'SB', 'SM'],
 ['BB', 'MP', 'SD'],
 ['BT', 'MA'],
 ['BB', 'MP', 'P', 'SL', 'SD', 'T'],
 ['BM', 'DK', 'KM', 'MP', 'R'],
 ['BB', 'BH', 'T'],
 ['C', 'F', 'PG'],
 ['BM', 'KK', 'MP', 'R'],
 ['SD'],
 ['BB', 'BM', 'F', 'R', 'SM'],
 ['BB', 'KL', 'MP', 'P'],
 ['KK', 'O'],
 ['MP', 'SD'],
 ['BB', 'BH'],
 ['KL', 'MA', 'PG'],
 ['BB', 'KM', 'PP', 'SD'],
 ['BH', 'KU', 'O', 'R', 'SD'],
 ['BH', 'BM', 'C', 'T'],
 ['BB', 'KK'],
 ['F', 'P'],
 ['BM', 'DK', 'SM', 'SD'],
 ['BH', 'KL'],
 ['MP', 'PG', 'R', 'SD', 'T'],
 ['BB', 'KU'],
 ['BH', 'BT', 'MA', 'O'],
 ['P', 'SD'],
 ['BB', 'BH', 'BM', 'KM', 'T'],
 ['KL', 'MP'],
 ['BB'],
 ['C', 'KK', 'SB', 'SD'],
 ['KM', 'PG', 'T'],
 ['BB', 'BM', 'DK'],
 ['KL', 'MA'],
 ['BM', 'KK', 'PP'],
 ['BT', 'DK', 'MP'],
 ['BB', 'F', 'KU', 'P', 'SD'],
 ['KK', 'MP', 'R', 'SB', 'T'],
 ['KU', 'PG'],
 ['BB', 'BM', 'O'],
 ['BH', 'BM', 'BT'],
 ['BH', 'F', 'P', 'T'],
 ['S', 'SB', 'SL', 'SM'],
 ['F', 'KL', 'T'],
 ['KM', 'KU', 'MA'],
 ['C', 'KU', 'PP'],
 ['BT', 'DK', 'MP', 'T'],
 ['BH', 'BM', 'SB'],
 ['KL'],
 ['SD'],
 ['BM', 'KL', 'KM'],
 ['BB', 'BH', 'BM'],
 ['MA', 'MP', 'O'],
 ['BB', 'BM', 'DK', 'R'],
 ['KK', 'MP', 'SL', 'T'],
 ['KU', 'PG', 'SM', 'T'],
 ['KL', 'P', 'S', 'SD'],
 ['KU', 'SM'],
 ['O'],
 ['BB', 'BH', 'MA'],
 ['BB', 'C', 'KU', 'SD'],
 ['F', 'KM'],
 ['KK', 'MA', 'O'],
 ['PP', 'R'],
 ['BT', 'F', 'SB', 'T'],
 ['BB', 'C', 'KM', 'O', 'PP'],
 ['BT', 'KK', 'SM', 'T'],
 ['KM', 'R'],
 ['C', 'KL', 'KK', 'PG'],
 ['BB', 'BH'],
 ['KU', 'MP', 'P'],
 ['SL', 'SM'],
 ['BM', 'KK', 'KU', 'R', 'SD', 'T'],
 ['DK', 'F', 'MA'],
 ['BB', 'SL', 'T'],
 ['C', 'KK', 'MA', 'MP'],
 ['C', 'KK'],
 ['BM', 'KU', 'R', 'SD'],
 ['KL', 'MA', 'PG', 'SB', 'T'],
 ['PP'],
 ['BB', 'BH', 'BM'],
 ['KL'],
 ['BB', 'C', 'PG', 'S'],
 ['KU'],
 ['BT', 'KK', 'O', 'T'],
 ['C', 'KL', 'MA', 'P'],
 ['BB', 'KU'],
 ['BM', 'DK', 'MA'],
 ['BH', 'KM', 'MP', 'R', 'SM'],
 ['BT', 'KK', 'P', 'SL'],
 ['BM', 'DK', 'KU', 'O', 'PP', 'R', 'SL'],
 ['C', 'KL', 'KU', 'O', 'SD'],
 ['BB', 'BT', 'KM', 'MP', 'SB', 'SM', 'T'],
 ['BH', 'KL', 'O', 'PP'],
 ['SD'],
 ['BM', 'BT'],
 ['C', 'F', 'KM', 'PG'],
 ['F', 'MA', 'R', 'S'],
 ['BB', 'BH', 'SD'],
 ['DK', 'MP', 'SB', 'T'],
 ['DK', 'KU', 'PG'],
 ['C', 'KU', 'PG', 'SM', 'T'],
 ['BB', 'KK', 'P'],
 ['BT', 'DK', 'KU'],
 ['BH', 'KL', 'MA', 'SM', 'T'],
 ['BB', 'F', 'KU', 'P', 'SM', 'T'],
 ['BM'],
 ['DK', 'KL', 'R'],
 ['F', 'PG', 'SM'],
 ['KK', 'MP', 'SB'],
 ['PG', 'R', 'SL'],
 ['BB', 'BM', 'DK', 'MP', 'SB'],
 ['F', 'SM', 'T'],
 ['KK', 'O'],
 ['KL', 'KM', 'KU'],
 ['C', 'KU', 'PP'],
 ['BB', 'BM'],
 ['DK', 'MA', 'PG'],
 ['BT', 'F', 'KK'],
 ['C', 'KL', 'MA', 'PG', 'S'],
 ['BB', 'BM', 'C', 'DK'],
 ['BB', 'BT', 'KM', 'PG', 'SD'],
 ['BH', 'F', 'MA', 'T'],
 ['BT', 'KM', 'MA', 'S'],
 ['KM', 'P'],
 ['BB', 'BM', 'KL'],
 ['BT', 'KK', 'MA', 'T'],
 ['BB', 'DK', 'MA'],
 ['PG', 'P'],
 ['BT', 'KM', 'MP'],
 ['C', 'KM', 'R', 'SL'],
 ['BB', 'BM'],
 ['BH', 'C', 'KK', 'MP', 'SL', 'SD'],
 ['DK', 'PG', 'S'],
 ['BB', 'KL', 'MA', 'SM'],
 ['MP', 'O'],
 ['BM', 'KM', 'P', 'S', 'T'],
 ['BT', 'KK', 'MA', 'SL'],
 ['DK', 'KK'],
 ['BT', 'F', 'KU', 'O'],
 ['BB', 'DK', 'PP'],
 ['BB', 'BM', 'KK', 'O'],
 ['KL', 'MP'],
 ['BB', 'C', 'KM', 'MP', 'S', 'T'],
 ['KK', 'MA', 'P', 'SB', 'SM', 'T'],
 ['BT', 'F'],
 ['BM', 'KM'],
 ['BT', 'C', 'KL', 'KU'],
 ['BH', 'KK', 'MA', 'T'],
 ['BB', 'C', 'KM', 'S', 'SD'],
 ['C', 'F', 'KK', 'P', 'PP', 'SD', 'T'],
 ['BH', 'BM', 'KL', 'KU', 'PP', 'SB', 'SM'],
 ['BB', 'MP', 'SD'],
 ['BT', 'MA'],
 ['BB', 'MP', 'P', 'SL', 'SD', 'T'],
 ['BM', 'DK', 'KM', 'MP', 'R'],
 ['BB', 'BH', 'T'],
 ['C', 'F', 'PG'],
 ['BM', 'KK', 'MP', 'R'],
 ['KL'],
 ['BH', 'BM', 'SD'],
 ['KM', 'MA', 'MP', 'O'],
 ['BH', 'KK', 'P', 'SB'],
 ['P', 'SB'],
 ['BH', 'KK'],
 ['BB', 'MP', 'SD'],
 ['BT', 'MA'],
 ['BB', 'MP', 'P', 'SL', 'SD', 'T'],
 ['KK'],
 ['BM', 'SM'],
 ['BT', 'DK', 'KM', 'MA', 'R'],
 ['KK'],
 ['KM', 'KU', 'MA', 'MP'],
 ['BT', 'C', 'KL', 'KU'],
 ['BH', 'KK', 'MA', 'T'],
 ['BB', 'C', 'KM', 'S', 'SD'],
 ['C', 'KK', 'SL'],
 ['BM', 'BT', 'C', 'R', 'S', 'SB', 'SL'],
 ['BB', 'BH', 'BM', 'BT', 'KL', 'KU', 'MA'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['P', 'PP', 'S'],
 ['MA', 'MP', 'O', 'PG'],
 ['BB', 'BH', 'BM', 'C'],
 ['SB', 'SL'],
 ['BB', 'BM', 'KL', 'KK'],
 ['KK', 'KM', 'S'],
 ['P', 'SD'],
 ['BB', 'BH', 'BM', 'KM', 'T'],
 ['KL', 'MP'],
 ['BB'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BT', 'DK', 'KM', 'MA', 'R'],
 ['F', 'KL', 'KK', 'SD'],
 ['BH', 'BM', 'BT', 'C', 'DK', 'KM'],
 ['BB', 'C', 'F', 'KL', 'MP', 'PG', 'P', 'T'],
 ['BB', 'BH', 'C', 'F', 'KM', 'KU', 'S'],
 ['SL', 'SM', 'T'],
 ['BT', 'C', 'S'],
 ['BM', 'C', 'KL', 'PP', 'S', 'SL', 'SD'],
 ['BB', 'O', 'PP'],
 ['C', 'F', 'KK', 'P', 'PP', 'SD', 'T'],
 ['BH', 'BM', 'KL', 'KU', 'PP', 'SB', 'SM'],
 ['BB', 'MP', 'SD'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BT', 'DK', 'KM', 'MA', 'R'],
 ['KK'],
 ['KM', 'KU', 'MA', 'MP'],
 ['BB', 'BH', 'SM', 'SD'],
 ['KM', 'O', 'PG'],
 ['PG'],
 ['P', 'PP', 'S'],
 ['MA', 'MP', 'O', 'PG'],
 ['BB', 'BH', 'BM', 'C'],
 ['SB', 'SL'],
 ['BB'],
 ['C', 'KK', 'SB', 'SD'],
 ['KM', 'PG', 'T'],
 ['BB', 'BM', 'DK'],
 ['KL', 'MA'],
 ['BM', 'KK', 'PP'],
 ['C', 'KK', 'SB', 'SD'],
 ['KM', 'PG', 'T'],
 ['BB', 'BM', 'DK'],
 ['KL', 'MA'],
 ['BM', 'KK', 'PP'],
 ['BT', 'DK', 'MP'],
 ['BB', 'F', 'KU', 'P', 'SD'],
 ['BB'],
 ['C', 'KK', 'SB', 'SD'],
 ['KM', 'PG', 'T'],
 ['BB', 'BM', 'DK'],
 ['BM', 'C', 'KL', 'PP', 'S', 'SL', 'SD'],
 ['BB', 'O', 'PP'],
 ['O'],
 ['BB', 'BH', 'BM'],
 ['MA', 'MP', 'O'],
 ['KM'],
 ['KK'],
 ['BM', 'SM'],
 ['KL', 'MA'],
 ['SB', 'SL'],
 ['BB', 'BM', 'KL', 'KK'],
 ['KK', 'KM', 'S'],
 ['P', 'SD'],
 ['BB', 'BH', 'BM', 'KM', 'T'],
 ['KL', 'MP'],
 ['BB'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['KK'],
 ['BM', 'SM'],
 ['BH', 'KK'],
 ['BH', 'F', 'KL'],
 ['BT', 'F', 'MP', 'S'],
 ['BB', 'BM', 'KU', 'P'],
 ['BB', 'BH', 'DK', 'MA', 'O', 'T'],
 ['KL', 'KM', 'KU', 'PG'],
 ['BT', 'MP', 'SB'],
 ['BB', 'BH', 'KK', 'R', 'SL'],
 ['BT', 'C', 'KL', 'KU'],
 ['BH', 'KK', 'MA', 'T'],
 ['BB', 'C', 'KM', 'S', 'SD'],
 ['C', 'F', 'KK', 'P', 'PP', 'SD', 'T'],
 ['BH', 'BM', 'KL', 'KU', 'PP', 'SB', 'SM'],
 ['BB', 'MP', 'SD'],
 ['BT', 'MA'],
 ['BB', 'MP', 'P', 'SL', 'SD', 'T'],
 ['BM', 'DK', 'KM', 'MP', 'R'],
 ['BB', 'BH', 'T'],
 ['BB', 'KL', 'MP', 'P'],
 ['KK', 'O'],
 ['MP', 'SD'],
 ['BB', 'BH'],
 ['KL', 'MA', 'PG'],
 ['BB', 'KM', 'PP', 'SD'],
 ['BH', 'KU', 'O', 'R', 'SD'],
 ['BH', 'BM', 'C', 'T'],
 ['KL', 'MA', 'PG'],
 ['BB', 'KM', 'PP', 'SD'],
 ['BH', 'KU', 'O', 'R', 'SD'],
 ['BH', 'BM', 'C', 'T'],
 ['S', 'SB', 'SL'],
 ['SD'],
 ['BH', 'S'],
 ['KK', 'KM', 'KU', 'MA', 'MP'],
 ['KL', 'R', 'S'],
 ['BH', 'BM', 'KL'],
 ['C', 'KL'],
 ['C', 'MA', 'MP', 'SD'],
 ['PP', 'R', 'SM'],
 ['BH', 'BM'],
 ['BB', 'BH', 'BM', 'MP'],
 ['KU', 'MA', 'PP'],
 ['MA', 'MP', 'O'],
 ['BH', 'C'],
 ['BB', 'DK', 'O'],
 ['BT', 'C', 'S', 'SM'],
 ['BB', 'BH', 'PP'],
 ['KK', 'MP', 'O'],
 ['MP', 'O', 'P'],
 ['KK'],
 ['BT', 'MP'],
 ['BB', 'BM', 'KL', 'KK'],
 ['KK', 'KM', 'S'],
 ['C', 'KM'],
 ['SB', 'SL'],
 ['BH', 'BM'],
 ['BB', 'BH', 'BM', 'SB'],
 ['KL', 'KK', 'SB'],
 ['C'],
 ['KK', 'KM', 'KU'],
 ['SL', 'SM'],
 ['BH', 'BM', 'SB'],
 ['BH', 'KU', 'O', 'R', 'SD'],
 ['BH', 'BM', 'C', 'T'],
 ['KL', 'MA', 'PP'],
 ['BB', 'KU', 'PG', 'S'],
 ['BT', 'KL', 'P', 'SD'],
 ['C', 'KM', 'MP'],
 ['BB', 'BH', 'KL', 'MP'],
 ['BT', 'KL', 'MA', 'P', 'SM'],
 ['DK', 'KK', 'MP', 'P'],
 ['BB', 'BT', 'KM', 'SD', 'T'],
 ['BM', 'DK', 'KU', 'PG'],
 ['BB', 'C', 'KU', 'O', 'S', 'T'],
 ['BT', 'KL'],
 ['DK', 'KM', 'MP', 'PP', 'T'],
 ['BB', 'BT', 'KK', 'O', 'SB', 'T'],
 ['DK', 'KK', 'MA', 'P']]

In [26]:
dfitem = pd.DataFrame(item_list)
frequent_item = fpgrowth(dfitem, min_support=0.1, use_colnames=True)

C:\Users\handr\AppData\Roaming\Python\Python311\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value C

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(item_list).transform(item_list)
df = pd.DataFrame(te_ary, columns=te.columns_)
print("Item Per Transaksi Dalam Setiap Transaksi")
df

Item Per Transaksi Dalam Setiap Transaksi

,BB,BH,BM,BT,C,DK,F,KK,KL,KM,...,P,PG,PP,R,S,SB,SD,SL,SM,T
0,False,False,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,True,True,True,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2,True,True,True,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
586,False,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
587,False,False,False,False,False,True,False,False,False,True,...,False,False,True,False,False,False,False,False,False,True
588,True,False,False,True,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
589,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False

In [ ]:
rank_item = df.sum().sort_values(ascending=False).reset_index()
rank_item.columns = ['item', 'frequency']
rank_item

   item  frequency
0    BB        135
1    BH        133
2    KK        119
3    BM        112
4    KM         94
5    MA         92
6    MP         91
7     C         90
8    KL         88
9    KU         83
10    P         76
11   SD         74
12   BT         70
13   SB         66
14    O         66
15    T         63
16   PG         61
17   PP         57
18   DK         55
19   SM         54
20    S         49
21    R         48
22    F         48
23   SL         46

In [ ]:
frequent_item = fpgrowth(df, min_support=0.03, use_colnames=True)
frequent_item['itemsets'] = frequent_item['itemsets'].apply(lambda x: list(x))
frequent_item

     support      itemsets
0   0.201695          [KK]
1   0.152542           [C]
2   0.077966          [SL]
3   0.189831          [BM]
4   0.118644          [BT]
5   0.111864          [SB]
6   0.083051           [S]
7   0.081356           [R]
8   0.228814          [BB]
9   0.225424          [BH]
10  0.155932          [MA]
11  0.149153          [KL]
12  0.140678          [KU]
13  0.159322          [KM]
14  0.128814           [P]
15  0.096610          [PP]
16  0.154237          [MP]
17  0.111864           [O]
18  0.103390          [PG]
19  0.091525          [SM]
20  0.125424          [SD]
21  0.093220          [DK]
22  0.081356           [F]
23  0.106780           [T]
24  0.035593      [KK, BH]
25  0.033898       [BB, C]
26  0.086441      [BM, BH]
27  0.074576      [BB, BM]
28  0.040678  [BB, BM, BH]
29  0.032203      [BT, MA]
30  0.037288      [SB, BH]
31  0.033898        [S, C]
32  0.084746      [BB, BH]
33  0.030508      [KM, MA]
34  0.035593      [KL, BM]
35  0.030508      [KL, MA]
36  0.040678      [KM, KU]
37  0.032203      [KM, BB]
38  0.030508       [P, BH]
39  0.030508       [P, BB]
40  0.045763      [MP, MA]
41  0.038983      [MP, BB]
42  0.035593       [MP, O]
43  0.035593       [O, MA]
44  0.030508      [SM, BM]
45  0.042373      [BB, SD]
46  0.030508       [P, SD]
47  0.033898       [C, SD]
48  0.032203      [BM, DK]
49  0.038983       [BB, T]
50  0.033898       [BH, T]

In [ ]:
rules = association_rules(frequent_item, metric="confidence", min_threshold=0.05)
rules = rules.drop_duplicates(subset=['antecedents', 'consequents']).sort_values(by='confidence', ascending=False).reset_index(drop=True)
rules['antecedents'] = rules['antecedents'].apply(lambda x: list(x))
rules['consequents'] = rules['consequents'].apply(lambda x: list(x))
rules['rule_description'] = rules.apply(lambda x: f"Jika Membeli {x['antecedents']} maka membeli {x['consequents']}", axis=1)        
rules[['rule_description', 'support', 'confidence', 'lift']]

,rule_description,support,confidence,lift
0,"Jika Membeli ['BB', 'BM'] maka membeli ['BH']",0.040678,0.545455,2.419686
1,"Jika Membeli ['BB', 'BH'] maka membeli ['BM']",0.040678,0.480000,2.528571
2,"Jika Membeli ['BM', 'BH'] maka membeli ['BB']",0.040678,0.470588,2.056645
3,Jika Membeli ['BM'] maka membeli ['BH'],0.086441,0.455357,2.020005
4,Jika Membeli ['S'] maka membeli ['C'],0.033898,0.408163,2.675737
5,Jika Membeli ['BM'] maka membeli ['BB'],0.074576,0.392857,1.716931
6,Jika Membeli ['BH'] maka membeli ['BM'],0.086441,0.383459,2.020005
7,Jika Membeli ['BH'] maka membeli ['BB'],0.084746,0.375940,1.642996
8,Jika Membeli ['BB'] maka membeli ['BH'],0.084746,0.370370,1.642996
9,Jika Membeli ['T'] maka membeli ['BB'],0.038983,0.365079,1.595532
10,Jika Membeli ['DK'] maka membeli ['BM'],0.032203,0.345455,1.819805
11,Jika Membeli ['SD'] maka membeli ['BB'],0.042373,0.337838,1.476476
12,Jika Membeli ['SM'] maka membeli ['BM'],0.030508,0.333333,1.755952
13,Jika Membeli ['SB'] maka membeli ['BH'],0.037288,0.333333,1.478697
14,Jika Membeli ['BB'] maka membeli ['BM'],0.074576,0.325926,1.716931
15,Jika Membeli ['O'] maka membeli ['MA'],0.035593,0.318182,2.040514
16,Jika Membeli ['O'] maka membeli ['MP'],0.035593,0.318182,2.062937
17,Jika Membeli ['T'] maka membeli ['BH'],0.033898,0.317460,1.408283
18,Jika Membeli ['MP'] maka membeli ['MA'],0.045763,0.296703,1.902771
19,Jika Membeli ['MA'] maka membeli ['MP'],0.045763,0.293478,1.902771
20,Jika Membeli ['KU'] maka membeli ['KM'],0.040678,0.289157,1.814919
21,Jika Membeli ['BT'] maka membeli ['MA'],0.032203,0.271429,1.740683
22,Jika Membeli ['SD'] maka membeli ['C'],0.033898,0.270270,1.771772
23,Jika Membeli ['KM'] maka membeli ['KU'],0.040678,0.255319,1.814919
24,Jika Membeli ['MP'] maka membeli ['BB'],0.038983,0.252747,1.104599
25,Jika Membeli ['SD'] maka membeli ['P'],0.030508,0.243243,1.888336
26,Jika Membeli ['KL'] maka membeli ['BM'],0.035593,0.238636,1.257102
27,Jika Membeli ['P'] maka membeli ['BB'],0.030508,0.236842,1.035088
28,Jika Membeli ['P'] maka membeli ['SD'],0.030508,0.236842,1.888336
29,Jika Membeli ['P'] maka membeli ['BH'],0.030508,0.236842,1.050653
30,Jika Membeli ['MP'] maka membeli ['O'],0.035593,0.230769,2.062937
31,Jika Membeli ['MA'] maka membeli ['O'],0.035593,0.228261,2.040514
32,Jika Membeli ['C'] maka membeli ['S'],0.033898,0.222222,2.675737
33,Jika Membeli ['C'] maka membeli ['SD'],0.033898,0.222222,1.771772
34,Jika Membeli ['C'] maka membeli ['BB'],0.033898,0.222222,0.971193
35,"Jika Membeli ['BM'] maka membeli ['BB', 'BH']",0.040678,0.214286,2.528571
36,Jika Membeli ['MA'] maka membeli ['BT'],0.032203,0.206522,1.740683
37,Jika Membeli ['KL'] maka membeli ['MA'],0.030508,0.204545,1.311759
38,Jika Membeli ['KM'] maka membeli ['BB'],0.032203,0.202128,0.883373
39,Jika Membeli ['MA'] maka membeli ['KL'],0.030508,0.195652,1.311759
40,Jika Membeli ['MA'] maka membeli ['KM'],0.030508,0.195652,1.228030
41,Jika Membeli ['KM'] maka membeli ['MA'],0.030508,0.191489,1.228030
42,Jika Membeli ['BM'] maka membeli ['KL'],0.035593,0.187500,1.257102
43,Jika Membeli ['BB'] maka membeli ['SD'],0.042373,0.185185,1.476476
44,"Jika Membeli ['BH'] maka membeli ['BB', 'BM']",0.040678,0.180451,2.419686
45,"Jika Membeli ['BB'] maka membeli ['BM', 'BH']",0.040678,0.177778,2.056645
46,Jika Membeli ['KK'] maka membeli ['BH'],0.035593,0.176471,0.782839
47,Jika Membeli ['BB'] maka membeli ['T'],0.038983,0.170370,1.595532
48,Jika Membeli ['BB'] maka membeli ['MP'],0.038983,0.170370,1.104599
49,Jika Membeli ['BM'] maka membeli ['DK'],0.032203,0.169643,1.819805
50,Jika Membeli ['BH'] maka membeli ['SB'],0.037288,0.165414,1.478697
51,Jika Membeli ['BM'] maka membeli ['SM'],0.030508,0.160714,1.755952
52,Jika Membeli ['BH'] maka membeli ['KK'],0.035593,0.157895,0.782839
53,Jika Membeli ['BH'] maka membeli ['T'],0.033898,0.150376,1.408283
54,Jika Membeli ['BB'] maka membeli ['C'],0.033898,0.148148,0.971193
55,Jika Membeli ['BB'] maka membeli ['KM'],0.032203,0.140741,0.883373
56,Jika Membeli ['BH'] maka membeli ['P'],0.030508,0.135338,1.050653
57,Jika Membeli ['BB'] maka membeli ['P'],0.030508,0.133333,1.035088